@model SelectionCommittee.WEB.Models.DisplayFullFaculty
@{
    ViewBag.Title = "Faculty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="mx-1 px-xl-5 mx-lg-5">
    <h1 class="text-uppercase">Факультет @Model.Name</h1>
    <p>Для поступления на любую специальность данного факультета нужно иметь баллы по таким предметам ВНО</p>
    <ul>
        @foreach (var str in Model.Subjects)
        {
            <li>@str</li>
        }
    </ul>
    <p>@Model.Description</p>
    <h2>Специальности</h2>
<div class="row">
    @for (int i = 0; i < Model.SpecialtiesDTO.Count(); i++)
    {
        <div class="card text-white col-md-6 col-lg-4 my-2 border-0">
            @if (Model.SpecialtiesDTO[i].Photo == null)
            {
                <div class="card-img bg-dark" style="height: 250px;"></div>
            }
            else
            {
            <img src="@Model.SpecialtiesDTO[i].Photo" class="card-img" alt="@Model.SpecialtiesDTO[i].Name"  style="height: 250px;">
            }
            <div class="card-img-overlay pt-5">
                <a href="/SelectionCommittee/Specialty/@Model.SpecialtiesDTO[i].Id" class="stretched-link text-center text-decoration-none">
                    <h5 class="bg-dark rounded-pill mt-4 p-3 text-white card-title" style="opacity: .8;">@Model.SpecialtiesDTO[i].Name</h5>
                </a>
            </div>
        </div>
    }
</div>
</div>
