@model SelectionCommittee.WEB.Models.RegisterModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LogInSignUpLayout.cshtml";
}
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-11 col-sm-10+ mx-auto">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { autocomplete = "off" }))
                {
                    @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-12 d-flex justify-content-end">
                        @Html.ActionLink("Авторизация", "Login", "Account")
                    </div>
                </div>
                    <h1 class="text-center">Регистрация</h1>
                    <hr>
                    @Html.ValidationSummary(true)
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            @Html.LabelFor(m => m.Surname, "Фамилия")
                            @Html.EditorFor(m => m.Surname, new { htmlAttributes = new { @class = "form-control", placeholder = "Иванов" } })
                            @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(m => m.Name, "Имя")
                            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Иван" } })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(m => m.Patronymic, "Отчество")
                            @Html.EditorFor(m => m.Patronymic, new { htmlAttributes = new { @class = "form-control", placeholder = "Иванович" } })
                            @Html.ValidationMessageFor(m => m.Patronymic, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="City">Город</label>
                            <select id="City" name="CityId" class="form-control">
                                <option value="0" disabled selected>Выберите город</option>
                                @foreach (var city in Model.Cities)
                                {
                                    <option value=@city.Id data-regionid=@city.RegionId>@city.Name</option>
                                }
                            </select>
                            <small id="explanations" class="form-text text-muted">В случае если вы не из города то не трогайте это поле.</small>
                            @Html.ValidationMessageFor(m => m.CityId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Region">Область</label>
                            <select id="Region" name="RegionId" class="form-control">
                                <option value="0" disabled selected>Выберите область</option>
                                @foreach (var region in Model.Regions)
                                {
                                    <option value=@region.Id>@region.Name</option>

                                }
                            </select>
                            <small id="explanations" class="form-text text-muted">Ввести нужно ваще текущее место жительства.</small>
                            @Html.ValidationMessageFor(m => m.RegionId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="EducationalInstitution">Образовательное учреждение</label>
                        <select id="EducationalInstitution" name="EducationalInstitutionId" class="form-control">
                            <option disabled selected>Выберите образовательное учреждение</option>
                            @foreach (var educationals in Model.EducationalInstitutions)
                            {
                                <optgroup label="@educationals.Key">
                                    @foreach (var educational in educationals.Value)
                                    {
                                        <option value=@educational.Id>@educational.Name</option>
                                    }
                                </optgroup>
                            }
                        </select>
                        @Html.ValidationMessageFor(m => m.EducationalInstitutionId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, "Электронная почта")
                        @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "somemail@gmail.com" } })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(m => m.Password, "Пароль")
                            @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(m => m.ConfirmPassword, "Подтвердите пароль")
                            @Html.EditorFor(m => m.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-row text-center">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                        </div>
                    </div>
                }
            </div>
                </div>
                </div>

                <script>
                    $(window).ready(function () {
                        var width = $("#EducationalInstitution").width();
                            $('#EducationalInstitution option').each(function () {
                                var length = $(this).text().length;
                                $(this).text(length > width * 0.125
                                    ? $(this).text().substr(0, width * 0.125 - 3) + "..."
                                    : $(this).text());
                                $(this).width(width);
                            });
                    });

                    $("#Surname, #Name, #Patronymic").keypress(function (event) {
                        var charCode = event.charCode;
                        if ($(this).val().length != 0 && (charCode < 1040 || charCode > 1105))
                            event.preventDefault();
                    });

                    $("#Surname, #Name, #Patronymic").keyup(function (event) {
                        var value = $(this).val();
                        var charCode = event.charCode;
                        if (value.length == 1)
                            $(this).val(value.toUpperCase());
                        else if (charCode >= 1040 || charCode <= 1071) {
                            $(this).val(value.charAt(0).toUpperCase() + value.slice(1).toLowerCase());
                        }
                    });
    
                    $("#City")
                        .change(function () {
                            $('#Region option:selected').each(function () {
                                this.selected = false;
                            });
                            $("#Region [value=" + $(this).find('option:selected').data("regionid") + "]").prop("selected", true);
                        });

                    $("#Region")
                        .change(function () {
                            $('#City option:selected').each(function () {
                                this.selected = false;
                            });
                            $("#City [value='0']").prop("selected", true);
                        });
                </script>
